version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./backend/output:/usr/src/app/output
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
  frontend:
      build: ./frontend
      ports:
        - "3000:80"
      restart: unless-stopped
      depends_on:
        - backend
      env_file:
        - ./frontend/.env.docker