name: Frontend CI/CD

on:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend-ci.yml'

jobs:
  build-and-test-and-deploy:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test -- --ci --passWithNoTests

      - name: Build app
        run: npm run build

      - name: Docker login (PowerShell z datoteko)
        run: |
          $pass = "${{ secrets.DOCKER_FRONTEND_PASSWORD }}"
          $pass | Out-File -Encoding ascii -FilePath token.txt
          docker login -u "${{ secrets.DOCKER_FRONTEND_USERNAME }}" --password-stdin < token.txt
        shell: powershell


      - name: Build Docker image
        run: docker build -t janmilosic/paketnik-frontend-app:latest .

      - name: Push Docker image
        run: docker push janmilosic/paketnik-frontend-app:latest
